
.stage-pass-button {
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-background-color: #1b1b1b;
}

.stage-pass-button:hover {
    -fx-background-color: #444444;
}

.stage-pass-button:pressed {
    -fx-background-color: #1b1b1b;
}